
body {
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-image:url('https://images7.alphacoders.com/369/369182.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-container {
    flex: 1; 
}
#image-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

#image-container img {
    width: 120%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s; /* Adaugă o tranziție de 0.5 secunde la transform */
    
}
#calendar-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

#price-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

#rent-button {
    float: right;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -52px; /* Add negative margin-top to move the button up */
}

#rating-container{
    padding-top:30px ;
    color:white;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.star-rating {
    font-size: 2rem;
    display: flex;
}

.star-rating .fa-star {
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

.star-rating .fa-star.hovered,
.star-rating .fa-star.selected {
    color: yellow;
}

#price-per-day {
    padding-bottom: 30px;
}

a{
    padding-left: 10px;
}


